<h1 class="mb-3">Cart</h1>

@if (viewModel(); as vm) {
  <!-- Cart positions -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (position of vm.positionsWithProducts; track position.id) {
        <tr>
          <th>{{ $index + 1 }}</th>
          <td>{{ position.product.name }}</td>
          <td>{{ position.quantity }}</td>
          <td class="pe-1 text-end">
            <button
              (click)="deletePositions([position.id])"
              type="button"
              class="btn btn-sm btn-outline-danger">
              Delete
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- Cart actions -->
  @if (vm.positionCount > 0) {
    <div class="pe-1 text-end">
      <button
        (click)="deletePositions(vm.positionIds)"
        type="button"
        class="btn btn-outline-danger me-3">
        Clear
      </button>
      <button
        (click)="order()"
        type="button"
        class="btn btn-primary">
        Order
      </button>
    </div>
  }

  <!-- Order confirmation modal -->
  <ng-template
    #confirm
    let-modal>
    <div class="modal-header">
      <h4
        class="modal-title"
        id="modal-basic-title">
        Please confirm
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p>Do you want to order {{ vm.productCount }} products?</p>
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close()">
        Confirm
      </button>
    </div>
  </ng-template>
} @else {
  <div class="spinner-border">
    <span class="visually-hidden">Loading...</span>
  </div>
}
